<div class="row">
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-list-ul badge-warning"></i>Repositories Listing
        </div>
      </div>
      <% if @responses.blank? %>
        <div class="portlet-body">
          <div class="row">
            <div class="col-md-12">
              <h4>No records found!</h4>
            </div>
          </div>
        </div>
      <% else %>
        <div class="portlet-body form" id='course-listing'>
          <table  class="table table-striped table-bordered table-hover no-footer" role="grid" id="course_listing_table">
            <thead>
              <tr role="row" class='columnWrap'>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <% @responses.each do |repo| %>
                <tr role="row" class="odd" data-no-turbolink >
                  <td class="col-md-3"><%= link_to repo['name'], repository_path(id: repo['name'], description: repo['description']) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%end%>
    </div>
  </div>
</div>